---
import Nav from 'src/components/Nav.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
	title?: string;
	charset?: string;
	keywords?: string;
	description?: string;
	iconlink?: string;
}

const { 
	title,
	charset,
	keywords,
	description,
	iconlink
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			charset={charset}
			keywords={keywords}
			description={description}
			iconlink={iconlink}
		/>
	</head>
	<body>
		<!-- TODO: A Bunch of TODOs Here... -->
		<Nav 
			className="TODO"
			id="TODO"
			isTranslucent={true}
		/>
		<slot />
	</body>
</html>

<style is:global>
	/**
		Custom Properties to Implement
		--accent: ?
		--accent-light: ?
		--accent-dark: ?
		--accent-gradient: ?
		--primary: ?
		--secondary: ?
		--tertiary: ?
		--stock-black: ?
		--stock-white: ?
		--stock-gray: ?
	*/
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	body {
		margin: 0;
		padding: 0;
		background-size: 30px 30px;
		background-image: radial-gradient(
			circle,
			#474747 0.5px,
			rgba(0, 0, 0, 0) 0.5px
		);
		z-index: -100;
		width: 100vw;
		height: 100vh;
		background-repeat: repeat;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
